body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: blue;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}



nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}


main {
    padding: 1em;
}

main section {
    margin-bottom: 2em;
    line-height: 1.5;
}

footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea, form button {
    margin-top: 0.5em;
}
form button {
     color: rgba rgba(0, 128, 0, 0.73)
}
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-right: 0;
    }
}
