/* Media query for larger screens */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    nav {
        background-color: #333;
        overflow: hidden;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        background-color: #111;
    }
    
    .temple-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .temple-card img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .temple-card h2 {
        margin-top: 0;
    }
    

    header {
        padding: 2rem;
    }

    header h1 {
        font-size: 2rem;
    }

    main {
        max-width: 1000px;
    }
    

    /* Grid layout for figures */
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    figure {
        margin: 0;
    }

    footer {
        padding: 2rem;
    }

    .footer-content {
        max-width: 1000px;
    }
}

